---
---

@import "{{ site.theme }}";

.wrapper {
  width: 960px;
  margin: 0 auto;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
  }
}

section {
  width: 650px;
  float: right;
  padding-bottom: 50px;
}
