---
---

@import "{{ site.theme }}";

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  width: 270px;
  float: left;
  position: fixed;
  -webkit-font-smoothing: subpixel-antialiased;

  img {
    display: block;
    max-width: 100%;
    height: auto !important;
    margin: 0 auto;
    border-radius: 10px;
  }
}

section {
  width: calc(100% - 300px);
  float: right;
  padding-bottom: 50px;
}

.main-content {
  width: 100%;
  margin: 0;
  padding: 0;
}

.navigation {
  list-style: none;
  padding: 0;
  margin: 20px 0;
  
  li {
    margin-bottom: 10px;
    
    a {
      color: #267CB9;
      text-decoration: none;
      
      &:hover {
        text-decoration: underline;
      }
    }
  }
}

@media print, screen and (max-width: 960px) {
  div.wrapper {
    width: auto;
    margin: 0;
  }

  header {
    position: relative;
    width: auto;
    float: none;
    padding-right: 0;
    
    img {
      max-width: 300px;
    }
  }

  section, .main-content {
    width: auto;
    float: none;
    border: 1px solid #e5e5e5;
    border-width: 1px 0;
    padding: 20px 0;
    margin: 0 0 20px;
  }
}

@media print, screen and (max-width: 720px) {
  header {
    padding: 0;
  }
}